<!DOCTYPE html>
<head>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="../home.css">

</head>
<body>
	<div class="container-fluid">
		<div class="products" id="products">
		
		

		<%for(j=0;j<sel.length;j++){%>
			
			<div class="card f d-inline-block">
			  <div id="carouselExampleSlidesOnly" class="carousel slide card-img-top" data-ride="carousel">
				  <div class="carousel-inner l">
				    <div class="carousel-item active">
				        <img src="../<%=sel[j].pic1%>" class="d-block w-100 ll" alt="...">
				    </div>
				    <div class="carousel-item">
				      <img src="../<%=sel[j].pic2%>" class="d-block w-100 ll" alt="...">
				    </div>
				    <div class="carousel-item">
				      <img src="../<%=sel[j].pic3%>" class="d-block w-100 ll" alt="...">
				    </div>
				  </div>
				</div>
			  <div class="card-body" >
			    <h5 class="card-title"><div><%=sel[j].pname%></div>  Rs<div style="display: inline-block;"><%=sel[j].pprice%></div></h5>
				<br><br>
			    <p class="p"><%=sel[j].det%></p>
			  </div>
			  
			  
			</div>
			
			<%}%>
			<br><br><br><br>

			
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>